<!DOCTYPE html>
<html>
  <head>
    <title>TTS Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="">TTS Blog</a>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Blog <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="">
        <% if user_signed_in? %>
          <%= current_user.username %>
          <%= image_tag current_user.avatar.url, size: 35, style: "border-radius: 15px" %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-info" %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info" %>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-info" %>
        <% end %>
      </div>
  </div>
</nav>




    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
